@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    padding: 0;
    margin: 0;
}
.hero{
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container{
    /* border: 2px solid white; */
    width: 325px;
    height: 540px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    overflow: hidden;
}
.image{
    background-image: url(image-equilibrium.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    height: 270px;
    width: 278px;
    /* border: 1px solid wheat; */
    margin: 22px;
}
.heading{
    color: white;
    font-family: outfit;
    font-weight: 600;
    margin-left: 27px;
    font-size: 20px;
}
.para{
    color: white;
    margin-left: 27px;
    font-family: outfit;
    font-weight: 300;
    margin-top: 15px;
    opacity: .3;
    line-height: 25px;
}
.price{
    font-family: outfit;
    color:  hsl(178, 100%, 50%);
    font-weight: 400;
    margin-top: 12px;
    margin-left: 27px;
    display: inline-block;
    margin-right: 95px;
}
.time{
    display: inline-block;
    font-family: outfit;
    opacity: 0.3;
    color: white;
}
hr{
    width: 289px;
    margin-left: 17px;
    margin-top: 19px;
    opacity: 0.3;
  }
.profile{
    margin: 10px;
    display: inline-block;
}
.image-profile{
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 10px;
}
.credit{
    display: inline-block;
    color: white;
    font-family: outfit;
    opacity: 0.3;
    text-align: center;
}
.credit-full{
    display: inline-block;
    color: white;
    font-family: outfit;
    opacity: 10;
    margin: 10px;
}